@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this class to the image you want to animate */
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  /* Define the fadeIn animation using keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }